domain: test-paths-lb.local

proxy:
  paths:
    - path: /api/
      upstreams:
        - http://api-server1:3000
        - http://api-server2:3000
        - http://api-server3:3000
      load_balance:
        algorithm: round-robin
      headers:
        X-API-Key: secret-api-key
        X-Environment: production
    - path: /static/
      upstreams:
        - http://static1:8080
        - http://static2:8080
      load_balance:
        algorithm: random
      headers:
        X-Static-Token: static-token
    - path: /
      upstream: http://frontend:3000
      headers:
        X-Default-Key: default-key

timeouts:
  read: 10s
  write: 10s